body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $light-grey;
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

#root {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}
