.movie-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $dark-grey;
  border-radius: 0.5rem;
  margin: 0.25rem 0;

  .movie-item-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 0;
    padding: 1rem;
    color: $text-color;
    min-width: 30%;

    h4 {
      margin: 0 0 0.25rem 0;
    }

    span {
      font-size: 0.75rem
    }
  }

  .movie-item-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    align-content: flex-start;
    margin-right: 0;
    padding: 1rem;
    max-width: 70%;
  }
}